
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/methods/common_methods.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/schema/schema.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/bam/bam_parser.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/store_object_as_json/store_object_as_json.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/resource_handler/resource_handler.config"

methods {
    get_ids_from_bams = {
        params.samples_to_process = [] as Set
        params.input.BAM.each { k, v ->
            v.each { sample ->
                // FIXME This is a hack to find files within this repository.
                // Remove this line when building out a real pipeline.
                if (sample.path.startsWith("./")) { sample.path = "${projectDir}/${sample.path}" }

                def bam_header = bam_parser.parse_bam_header(sample.path)
                def sm_tags = bam_header['read_group'].collect{ it['SM'] }.unique()
                if (sm_tags.size() != 1) {
                    throw new Exception("${bam_path} contains multiple samples! Please run pipeline with single sample BAMs.")
                }
                if (params.samples_to_process.any { it.id == sm_tags[0] }) {
                    throw new Exception("Sample ${sm_tags[0]} was found in multiple BAMs. Please provide only one BAM per sample")
                }

                params.samples_to_process.add(['id': sm_tags[0], 'path': sample.path, 'sample_type': k])
            }
        }
    }

    set_output_and_log_dir = {
        params.output_dir_base = "${params.output_dir}/${manifest.name}-${manifest.version}/${params.patient_id}"

        def tz = TimeZone.getTimeZone("UTC")
        def date = new Date().format("yyyyMMdd'T'HHmmss'Z'", tz)

        params.log_output_dir = "${params.output_dir_base}/log-${manifest.name}-${manifest.version}-${date}"
    }

    set_pipeline_logs = {
        trace.enabled = true
        trace.file = "${params.log_output_dir}/nextflow-log/trace.txt"

        timeline.enabled = true
        timeline.file = "${params.log_output_dir}/nextflow-log/timeline.html"

        report.enabled = true
        report.file = "${params.log_output_dir}/nextflow-log/report.html"
    }

    setup = {
        // Add this file and uncomment if custom types need to be defined for validation
        // schema.load_custom_types("${projectDir}/config/custom_schema_types.config")
        schema.validate()

        resource_handler.handle_resources("${projectDir}/config/resources.json")

        methods.set_output_and_log_dir()
        methods.set_pipeline_logs()

        methods.set_env()

        methods.get_ids_from_bams()

        methods.configure_containerization()

        methods.setup_process_afterscript()

        // Save all parameters in log directory. This call must be the last configuration setup step.
        json_extractor.store_object_as_json(
            params,
            new File("${params.log_output_dir}/nextflow-log/params.json")
        )
    }
}
